<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RelayNodeConfig" type="MySpace.DataRelay.Configuration.RelayNodeSectionHandler,MySpace.DataRelay.Common"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="SocketClient" type="MySpace.SocketTransport.SocketClientHandler,MySpace.SocketTransport.Client"/>
    <section name="OpenSocialControlFactories" type="Negroni.TemplateFramework.Configuration.ControlFactorySection, Negroni.TemplateFramework"/>
    <section name="CultureConfiguration" type="MySpace.Configuration.XmlSerializerSectionHandler,MySpace.Configuration" restartOnExternalChanges="false"/>
  </configSections>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin"/>
		</assemblyBinding>
	</runtime>

  <OpenSocialControlFactories configSource="OpenSocialControlFramework.config"/>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
